html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}
body {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: #fff;
    text-transform: uppercase;
    background-color: #171919; /* при плохом инете будет показывать черный экран при подгрузке фонового изображения */
    min-width: 320px;
    overflow-x: hidden;    /* Выключает нижний скролл при анимации */
}



a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
}
    li {
        list-style-type: none; /* Убираем маркеры */
       }
       ul {
        margin-left: 0; /* Отступ слева в браузере IE и Opera */
        padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
       }


.container {
    max-width: 1920px;
    margin: 0 auto;

}
.headline-left{
    font-size: 2.2em;
    line-height: 32px;
    
    letter-spacing: 7.333px;

    color: #ffffff;
    opacity: 0.5;
    padding-left: 103px;
    position: relative;
    display: inline-block;
    &::before {
        content: "";
        position: absolute;
        width: 80px;
        height: 1px;
        background-color: #fff;
        left: 0;
        top: 50%;
    } 
}

.headline-right{
    font-size: 2.2em;
    line-height: 32px;
    
    letter-spacing: 7.333px;

    color: #ffffff;
    opacity: 0.5;
    padding-right: 103px;
    position: relative;
    display: inline-block;
    &::before {
        content: "";
        position: absolute;
        width: 80px;
        height: 1px;
        background-color: #fff;
        right: 0;
        top: 50%;
    } 
}

.animate-malibu {
    animation-delay: 4.5s;
  }

  .anim1{
    animation-delay: 1.5s;
  }
  .anim2{
    animation-delay: 2.5s;
  }

.title{
    div{
        font-weight: 800;
        font-size: 20em;
        color: rgba(#fff, .02);
        position: relative;
        transform: translateX(-50px);
        display: inline-block;
    }
    span{
        display: inline-block;
    }
    h3{
        margin: 0;
        color:  #fff;
        font-size: 80px;

        position: absolute;
        top: 10px;
        right: -12px;

        &::after{
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 80px;
            height: 1px;
            background-color: $green;
        }

    }
}

.subtitle{
    display: inline-block;
    text-align: right;
    &__head{
        font-weight: 800;
        font-size: 4em;
        padding-right: 10px;
    }
    span{
        font-weight: 100;
    }
}

.descr{
    display: inline-block;
    padding-left: 5px;
    &__head{
        font-weight: 800;
        font-size: 4em;
    }
    span{
        font-weight: 100;
    }
}


.btn{
    font-size: 4em;
    font-weight: 800;
    line-height: 36px;
    outline: none;

    span{
        padding: 17px 57px 15px 17px;
        background-color: $green;
        display: inline-block;
        position: relative;

        margin-left: 19px;
        &::before{
            content: "";
            position: absolute;
            width: 20px;
            height: 1px;
            background-color: #fff;
            top: 50%;
            left: -10px;
        }
        &::after{
            content: "";
            position: absolute;
            width: 25px;
            height: 21px;
            background-image: url("../images/arrows-right.svg");
            top: 50%;
            right: 17px;
            transform: translateY(-50%);
        }
    }
}
  

/*===========     Holder, SURF         ============*/ 

.surf,
.holder{
    padding: 160px 0 120px;
}
.holder{
    padding-bottom: 280px;
}




/*========  quantity    =========*/ 



.quantity {
    display: inline-block;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button
  {
    -webkit-appearance: none;
    margin: 0;
  }
  
  input[type=number]
  {
    -moz-appearance: textfield;
  }
  
  .quantity input {
    width: 48px;
    height: 42px;
    display: block;
    border: none;
    background-color: transparent;
    font-size: 40px;
    line-height: 36px;
    font-weight: 800;
    color: #fff;
  }
  
  .quantity input:focus {
    outline: 0;
  }
  
  .quantity-nav {
    float: left;
    position: static;
    height: 42px;
  }
  
  .quantity-button {
    position: relative;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 45px;

  }
  
  .quantity-button.quantity-up {
    position: absolute;
    right: 0px;
  }
  
  .quantity-button.quantity-down {
    position: absolute;
    right: 25px;
  }

.star-list{
    li{
        display: inline-block;
        & + li{
            margin-left: -25px;
        }
    }
}

  

/*=======  /.quantity     =========*/ 